
h1 {
  font-size: 8vh;
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  color: #DBBEA1;
  text-align: center;
}

.beast  {
  padding: 2vw;
  margin: 2vw;
  background-color: #A37B73;
  text-align: center;
  border-radius: 20px;
}

.beast h2 {
  color:black;
}

.beast p {
  color: black;
}

img {
  width: 50vw;
  height: auto;
  border-radius: 20px;
}
