
article {
  margin-top: 4vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2vw;
}

article img {
  height: 50%;
  border-bottom: 2px solid lightgrey;
}

h1 {
  font-size: 8vh;
  text-align: center;
}

h2 {
  text-align: center;
}

.card {
  height: 20vh;
}

.card p {
  color: black;
  text-align: left;
}

#card-upper {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

#card-upper p {
  width: 30%;
  text-align: right;
}

p {
  color: #DBBEA1;
  text-align: center;
}

Footer {
  margin-top: 1vw;
}

.modal img {
  width: 100%;
  height: auto;
}

.search {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 2vw;
}
